.about-wrapper{

    .about-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: calc(100vh - 84px);

        .left-column{
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: ;
        }

        .right-column{

            .img{
                background-size: cover;
                background-position: center;
                height: calc(100vh - 84px);
                // min-height: 100%;
                // height: 100vh;

            }

        }
    }
}